
<div class="comments">
  <hr>
  <% if comments.any? %>
    <% comments.includes(:author).each do |comment| %>
      <div class="flex-container">
        <p>
          <b><%= comment.author.name %></b>
        </p>
        <p>&nbsp; : &nbsp;</p>
        <p class="comment">
          <%= comment.text %>
        </p>
        <ul class="menu simple add align-right">
          <li>
              <% if can? :destroy, comment%>
                  <%= button_to "/users/#{comment.author_id}/posts/#{comment.post_id}/comments/#{comment.id}", method: :delete do %>
                      <i class="trash alternate outline icon"></i>
                  <% end %>
              <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  <% else %>
    <p class="comment">No Comment.</p>
  <% end %>
</div>