<div class="callout large banner">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 banner-items">
      <%= link_to "< Back", user_path(@user) %>
    </div>
  </div>
</div>

<div class="blog-post">
  <%= render partial: "users/user", locals: { user: @user } %>

  <% @posts.each do |post| %>
    <%= render partial: "post", locals:{ post: post } %>
  <% end %>
</div>

<%= render partial: "pagination" %>
