<div class="callout success cell small-12 text-center" data-closable>
  <%= notice %>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>