<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar margin-bottom-3" data-topbar>
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">MINDLY</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Login</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </div>
</nav>

<div class="callout large border-none">
</div>